@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #141414;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 450px;
  margin: 20px;
  font-family: 'Dongle', sans-serif;
  background-color: #1a1b21;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 5px black;
          box-shadow: 0 0 5px 5px black;
  color: white;
  font-weight: 300;
}

.dev-logo {
  min-width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.info-container {
  text-align: center;
  line-height: 0.7;
  letter-spacing: 1.3px;
  font-size: 1.15rem;
}

.info-container h1, .info-container h2, .info-container h3 {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}

.info-container h2 {
  color: #bd967b;
}

.info-container .email-button {
  display: block;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  height: 25px;
  border-radius: 3px;
  text-decoration: none;
}

.info-container .email-button div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.info-container .email-button i {
  padding-bottom: 3px;
}

.info-container .email-button p {
  text-decoration: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 1.7rem;
}

.about-container, .interests-container {
  margin: 20px 30px;
  line-height: 0.85;
}

.about-container h2, .interests-container h2 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 2rem;
}

.about-container h2 i, .interests-container h2 i {
  font-size: 1rem;
}

.about-container p, .interests-container p {
  font-size: 1.35rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.interests-container ul {
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  font-size: 1.35rem;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161619;
  border-radius: 0 0 10px 10px;
}

.footer-container i {
  font-size: 2.5rem;
  padding: 10px;
  color: #918e9b;
}
/*# sourceMappingURL=style.css.map */